{% extends "controller/base.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'controller/css/game_state.css' %}">
<script src="{% static 'controller/js/mousetrap.min.js' %}"></script>
<script src="{% static 'controller/js/mousetrap-global-bind.min.js' %}"></script>
<script src="{% static 'controller/js/game_state.js' %}"></script>

<div class="container">
    <div id="score_home">0</div>
    <div id="score_guest">0</div>
    <div id="name_home">Home</div>
    <div id="name_guest">Guest</div>
    <form id="set_score_home_form" onsubmit="return setScore(0)" action="">
        <fieldset>
            <legend>Set Score (Home)</legend>
            <input id="score_home_input" type="number">
            <input type="submit" value="Send">
        </fieldset>
    </form>
    <form id="set_score_guest_form" onsubmit="return setScore(1)" action="">
        <fieldset>
            <legend>Set Score (Guest)</legend>
            <input id="score_guest_input" type="number">
            <input type="submit" value="Send">
        </fieldset>
    </form>

    <form id="change_score_home_form">
        <fieldset>
            <legend>Change Score (Home)</legend>
            <table>
                <tr>
                    <td>
                        <label>Touchdown:</label>
                    </td>
                    <td>
                        <input type="button" value="+6" onclick="changeScore(0, +6);">
                        <input type="button" value="-6" onclick="changeScore(0, -6);">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Fieldgoal:</label>
                    </td>
                    <td>
                        <input type="button" value="+3" onclick="changeScore(0, +3);">
                        <input type="button" value="-3" onclick="changeScore(0, -3);">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Safety/2PT:</label>
                    </td>
                    <td>
                        <input type="button" value="+2" onclick="changeScore(0, +2);">
                        <input type="button" value="-2" onclick="changeScore(0, -2);">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>PAT:</label>
                    </td>
                    <td>
                        <input type="button" value="+1" onclick="changeScore(0, +1);">
                        <input type="button" value="-1" onclick="changeScore(0, -1);">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
    <form id="change_score_guest_form">
        <fieldset>
            <legend>Change Score (Guest)</legend>
            <table>
                <tr>
                    <td>
                        <label>Touchdown:</label>
                    </td>
                    <td>
                        <input type="button" value="+6" onclick="changeScore(1, +6);">
                        <input type="button" value="-6" onclick="changeScore(1, -6);">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Fieldgoal:</label>
                    </td>
                    <td>
                        <input type="button" value="+3" onclick="changeScore(1, +3);">
                        <input type="button" value="-3" onclick="changeScore(1, -3);">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Safety/2PT:</label>
                    </td>
                    <td>
                        <input type="button" value="+2" onclick="changeScore(1, +2);">
                        <input type="button" value="-2" onclick="changeScore(1, -2);">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>PAT:</label>
                    </td>
                    <td>
                        <input type="button" value="+1" onclick="changeScore(1, +1);">
                        <input type="button" value="-1" onclick="changeScore(1, -1);">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>

    <form id="timeouts_home_form" onsubmit="return setTimeouts(0)" action="">
        <fieldset>
            <legend>Timeouts (Home)</legend>
            <input type="button" value="+1" onclick="modTimeouts(0, 1)">
            <input type="button" value="-1" onclick="modTimeouts(0, -1)">
            <input type="radio" name="timeouts_home_radio" value="1" id="timeouts_home_1">
            <label for="timeouts_home_1">1</label>
            <input type="radio" name="timeouts_home_radio" value="2" id="timeouts_home_2">
            <label for="timeouts_home_2">2</label>
            <input type="radio" name="timeouts_home_radio" value="3" id="timeouts_home_3">
            <label for="timeouts_home_3">3</label>
            <input type="submit" value="Send">
            <label>Current: </label><label id="current_timeouts_home">0</label>
        </fieldset>
    </form>
    <form id="timeouts_guest_form" onsubmit="return setTimeouts(1)" action="">
        <fieldset>
            <legend>Timeouts (Guest)</legend>
            <input type="button" value="+1" onclick="modTimeouts(1, 1)">
            <input type="button" value="-1" onclick="modTimeouts(1, -1)">
            <input type="radio" name="timeouts_guest_radio" value="1" id="timeouts_guest_1">
            <label for="timeouts_guest_1">1</label>
            <input type="radio" name="timeouts_guest_radio" value="2" id="timeouts_guest_2">
            <label for="timeouts_guest_2">2</label>
            <input type="radio" name="timeouts_guest_radio" value="3" id="timeouts_guest_3">
            <label for="timeouts_guest_3">3</label>
            <input type="submit" value="Send">
            <label>Current: </label><label id="current_timeouts_guest">0</label>
        </fieldset>
    </form>

    <form id="down_form" onsubmit="return setDown()" action="">
        <fieldset id="down_set">
            <legend>Down ({{hotkeys.select_down.0}})</legend>
            <input type="radio" name="down_radio" value="1" id="down_1">
            <label for="down_1">1</label>
            <input type="radio" name="down_radio" value="2" id="down_2">
            <label for="down_2">2</label>
            <input type="radio" name="down_radio" value="3" id="down_3">
            <label for="down_3">3</label>
            <input type="radio" name="down_radio" value="4" id="down_4">
            <label for="down_4">4</label>
            <input type="submit" value="Send">
            <label>Current: </label><label id="current_down">0</label>
        </fieldset>
    </form>

    <form id="quarter_form" onsubmit="return setQuarter()" action="">
        <fieldset id="quarter_set">
            <legend>Quarter ({{hotkeys.select_quarter.0}})</legend>
            <input type="radio" name="quarter_radio" value="1" id="quarter_1">
            <label for="quarter_1">1</label>
            <input type="radio" name="quarter_radio" value="2" id="quarter_2">
            <label for="quarter_2">2</label>
            <input type="radio" name="quarter_radio" value="3" id="quarter_3">
            <label for="quarter_3">3</label>
            <input type="radio" name="quarter_radio" value="4" id="quarter_4">
            <label for="quarter_4">4</label>
            <input type="submit" value="Send">
            <label>Current: </label><label id="current_quarter">0</label>
        </fieldset>
    </form>

    <form id="distance_form" onsubmit="return setDistance()" action="">
        <fieldset id="distance_set">
            <legend>Distance ({{hotkeys.select_distance.0}})</legend>
            <input id="distance_input" type="number">
            <input id="goalline_checkbox" type="checkbox" onchange="return changeGoallineBox(this);">
            <label for="goalline_checkbox">& Goal</label>
            <input type="submit" value="Send">
            <label>Current: </label><label id="current_distance">0</label>
        </fieldset>
    </form>

    <form id="ballon_form" onsubmit="return setBallon()" action="">
        <fieldset id="ballon_set">
            <legend>Ball on ({{hotkeys.select_ballon.0}})</legend>
            <input id="ballon_input" type="number">
            <input type="submit" value="Send">
            <label>Current: </label><label id="current_ballon">0</label>
        </fieldset>
    </form>
    <form id="helper_form">
        <fieldset id="helper_set">
            <legend>Helper Shortcuts</legend>
            <input id="first_down_button" type="button" value="Reset to First Down" onclick="return resetFirstDown();">
            <input id="reset_half_button" type="button" value="Reset Half" onclick="return resetHalf();">
        </fieldset>
    </form>
    <form id="connection_form">
        <fieldset id="connection_set">
            <legend>Technical Info</legend>
            <label for="connection_status">Connection Status: </label><label id="connection_status"></label>
            <br>
            <label for="last_transmission">Last Transmission: </label><label id="last_transmission">No transmission</label>
        </fieldset>
    </form>
</div>

{% endblock %}