.container {
    height: 70vh;
    width: 70vw;
    display: grid;
    /*grid-template-rows: 15% 5% 10% 25% 3% 10% 10% 10% 10% 10%;*/
    grid-template-columns:50% 50%;
    grid-template-areas:
        "score_home score_guest"
        "name_home name_guest"
        "set_score_home_form set_score_guest_form"
        "change_score_home_form change_score_guest_form"
        "timeouts_home_form timeouts_guest_form"
        "score_select send_score_buttons"
        "down_form quarter_form"
        "distance_form ballon_form"
        "helper_form helper_form"
        "connection_form connection_form";
    margin: auto;
  }

#score_home {
    grid-area: score_home;
    justify-self: center;
    font-size: 10vh;
}

#score_guest {
    grid-area: score_guest;
    justify-self: center;
    font-size: 10vh;
}

#name_home {
    grid-area: name_home;
    font-size: 3vh;
    justify-self: center;
}

#name_guest {
    grid-area: name_guest;
    font-size: 3vh;
    justify-self: center;
}

form {
    justify-self: stretch;
    align-self: stretch;
}

#set_score_home_form {
    grid-area: set_score_home_form;
}

#set_score_guest_form {
    grid-area: set_score_guest_form;
}

#change_score_home_form {
    grid-area: change_score_home_form;
}

#change_score_guest_form {
    grid-area: change_score_guest_form;
}

#score_select {
    grid-area: score_select;
}

#send_score_buttons {
    grid-area: send_score_buttons;
}

#down_form {
    grid-area: down_form;
}

#quarter_form {
    grid-area: quarter_form;
}

#distance_form {
    grid-area: distance_form;
}

#ballon_form {
    grid-area: ballon_form;
}

#timeouts_home_form {
    grid-area: timeouts_home_form;
}

#timeouts_guest_form {
    grid-area: timeouts_guest_form;
}

#helper_form {
    grid-area: helper_form;
}

#connection_form {
    grid-area: connection_form;
}



